.card-container {
  padding: 1.5em;
  box-shadow: 1px 1px 4px #000000;
  color: white;
}
.body-ground {
  
  
}
.loginBackground{
  background-image: url(../images/dist/LoginBackground.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  object-fit: contain;
}

.loginForm{
  width: 350px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  object-fit: contain;
}

.avatar {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.formContainer{
  padding-top: 50px;
  padding-right: 80px;
  padding-left: 80px;
  border-radius: 5px;
  position: relative;
}

.loginTime{
  position: absolute;
  top: 20px;
  right: -60%;
}


.changePasswordFormContainer{
  padding-top: 50px;
  padding-right: 80px;
  padding-left: 80px;
  border-radius: 5px;
  position: relative;
  width: 520px;
}
.changePasswordLoginTime{
  position: absolute;
  top: 20px;
  right: -60%;
}

.passwordGuide{
  margin-top: -200px;
}
@media (min-width: 368px) and (max-width: 980px) {
  .formContainer {
    padding-top: 30px;
    padding-right: 70px;
    padding-left: 70px;
  }
  .loginTime, .changePasswordLoginTime, .passwordGuide{
    display: none !important;
  }
  .changePasswordCont{
    display: flex !important;
    justify-content: center !important;
  }
}


@media (min-width: 880px) and (max-width: 1400px) {
  .loginTime, .changePasswordLoginTime, .passwordGuide{
    display: none !important;
  }

  .changePasswordCont{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    width: 100%;
  }
}

@media (min-width: 1200px) and (max-width: 1600px) {
  .changePasswordLoginTime{
    display: none;
  }
}
/* input {
  color: black !important;
  border-color: grey !important;
  outline: none;
}

input:focus::-webkit-input-placeholder {
  transition: transform 0.2s ease-out, font-size 0.2s ease-out, opacity 0.2s ease-out;
  transform: translateY(-100%);
  font-size: 12px;
  opacity: 1;
  color: transparent;
  border-color: rgb(84, 224, 232) !important;

}

input:focus:-moz-placeholder {
  transition: transform 0.2s ease-out, font-size 0.2s ease-out, opacity 0.2s ease-out;
  transform: translateY(-100%);
  font-size: 12px;
  opacity: 1;
  color: transparent;
  border-color: rgb(84, 224, 232) !important;
  outline: none
}

input:focus::-moz-placeholder {
  transition: transform 0.2s ease-out, font-size 0.2s ease-out, opacity 0.2s ease-out;
  transform: translateY(-100%);
  font-size: 12px;
  opacity: 1;
  color: transparent;
  border-color: rgb(84, 224, 232) !important;
  outline: none
}

input:focus:-ms-input-placeholder {
  transition: transform 0.2s ease-out, font-size 0.2s ease-out, opacity 0.2s ease-out;
  transform: translateY(-100%);
  font-size: 12px;
  opacity: 1;
  color: transparent;
  border-color: rgb(84, 224, 232) !important;
  outline: none
} */


