/* .card-card {
  margin : 0;
  padding: 0;
  width: 1000px;
  box-shadow: 21px;
  border: 0;
}
.card-row {
  padding: 0;
}
.card-col {
  padding: 0;
}
.card-img {
  max-width: 100%;
  height: auto;
  padding: 0;
}

.column {
float: left;
width: 33.3333%;
height: 500px; 
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
.mobile {
  display: none;
}



.container-text {
  font-size: 18px;
  padding-top: 2em;
  padding-bottom: 1em;
  font-size: 40px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.container-text-confirm {
  font-size: 22px;
  padding-top: 4.5em;
  padding-bottom: 1.5em;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.text-field-color {
  background-color : #dad7d7; 
  border: 0;
  border-radius: 0;
  height: 50px;
}
.text-field-color:focus {
  background-color : #dad7d7; 
  border: 0;
  border-radius: 0;
  height: 50px;
}

.btn-style {
  width: 80%;
}

.hide {
  display: none;
}

.show {
  display: block;
}
.style-confirm {
  padding-left: 3em;
}
.list-group-item {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  font-size: 15px;
}

.list-group-item::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 5px;
  border-radius: 50%;
  background-color: rgb(252, 248, 248);
  text-align: justify;
}

.list-group-background {
  background-color: 'rgba(255, 255, 255, 0.5)';
}


 @media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
  .card-card {
    width: 380px;
    border: 0;
  }
  .row {
    margin: 0;
  }
  .mobile {
    display: block;
    padding-top: 1em;
  }
  .column-new {
    height: 600px;
  }
  .list-group-item::before {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 5px;
    border-radius: 50%;
    background-color: rgb(73, 73, 73);
    font-size: 10px !important;
    text-align: justify;
    
  }
  ul li {
    font-size: 12px !important;
    list-style-position: inside !important;
  }
  
} */
* {
  box-sizing: border-box;
}


.column-right {
  float: left;
  width: 20%;
  padding: 20px;
  height: 100vh;
 
  
}
.company-logo {
  justify-content: center; /* Center vertically */
  align-items: center;
  display: flex;
  padding: 2em;

}
.content-right {
  display: flex;
  justify-content: flex-end; 
  padding-right: 4em;
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
  padding: 0;
  font-weight: bold;
}

.paddin-top {
  padding-top: 10em;
  padding-bottom: 0;
}
.container-time {
  line-height: 1;
  margin: 0;
  padding: 0;
  justify-content: flex-end;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.column-center {
  width: 60%;
  padding: 10px;
  height: 100vh;
  justify-content: center; /* Center vertically */
  align-items: center;

}
.column-left {
  float: left;
  width: 20%;
  padding: 10px;
  height: 100vh;

}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.card-card {
  margin : 0;
  padding: 0;
  width: 500px;
  max-width: 500px;
  box-shadow: 21px;
  border: 0;
}
.containeer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-text {
  display: flex;
  justify-content: center;
  font-size: 20px;
  padding-bottom: 1em;
  font-weight: bold;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.container-date {
  padding-bottom: 0
}
@media screen and (max-width: 600px) {
  .mobile {
    display: none;
  }
  .column-center {
  
    justify-content: center; /* Center vertically */
    align-items: center;/* Center horizontally */
  }
  .containee {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
  }
}
.input-login {
  width: 350px;
  margin-top: 20px;
  border-radius: 10px;
}
.exception-style {
  margin-bottom: 50px !important ;

}
.btn-styles {
  margin-bottom: 10em;
}
.reset-header {
  justify-content: center;
  align-items: center;
 
}
.header-text {
  font-size: 20px;
  font-weight: bold;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.body-centered {
text-align: center;
font-size: 15px;
margin-bottom: 2em;
}
.body-text {
  font-weight: bold;
}
.modal-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 1em;
  padding-top: 1em;
}
.modal-btns {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.modal-btn {
  margin-bottom: 1em;
  width: 100px;
}
.close-modal {
  text-decoration: none;
  margin-bottom: 2em;
}

/* .first-log-page */

.change-password-column-left {
  float: left;
  width: 40%;
  padding: 10px;
  height: 100vh;
}
.change-password-column-center {
  float: left;
  width: 40%;
  padding: 10px;
  height: 100vh;

}
.change-password-column-right {
  float: left;
  width: 20%;
  padding: 10px;
  height: 100vh;

}
.end-flex {
  float: right;
}
ul {
  list-style: none;
}
.adjustments-left {
  padding-top: 15em;
  font-size: 18px;
}
.left-title {
  font-weight: bold;
}
.check-circle {
  padding-left: 10px;
}

