
* {
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
}

/* Set thumb color and transparency */
::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  opacity: 0.8;
}


.column-right {
  float: left;
  width: 30%;
  padding: 20px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
 
  
}
.company-logo {
  justify-content: center; /* Center vertically */
  align-items: center;
  display: flex;
  padding: 4em;

}
.content-right {
  display: flex;
  justify-content: flex-end; 
  padding-right: 4em;
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
  padding: 0;
  font-weight: bold;
}

.paddin-top {
  padding-top: 4em;
  padding-bottom: 0;
}
.container-time {
  line-height: 1;
  margin: 0;
  padding: 20px;
  justify-content: flex-end;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.column-center {
  width: 40%;
  padding: 10px;
  height: 100vh;
  justify-content: center; /* Center vertically */
  align-items: center;

}
.column-left {
  float: left;
  width: 30%;
  padding: 10px;
  height: 100vh;

}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.card-card {
  margin : 0;
  padding: 0;
  width: 500px;
  max-width: 500px;
  box-shadow: 21px;
  border: 0;
}
.containeer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-text {
  display: flex;
  justify-content: center;
  font-size: 30px;
  padding-bottom: 1em;
  font-weight: bold;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.container-date {
  padding-bottom: 0
}
@media screen and (max-width: 600px) and (max-width: 767px) {
  .mobile {
    display: none;
  }
  .column-center {
  
    justify-content: center; /* Center vertically */
    align-items: center;/* Center horizontally */
  }
  .containee {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    
  }
  .containeer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 700px;
    padding-left: 2.5em;
    height: 500px;
    padding-top: 4em;
    margin-top: 5em;
  }
  .company-logo {
    justify-content: center; /* Center vertically */
    align-items: center;
    display: flex;
    padding-top: 2em;
    padding-bottom: 20px;
  
  }
  
  .container-text {
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  .text-error-notif {
    height: 5px;
    font-size: 10px;
  }
  .danger-banner {
    height: 10px;
    margin: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .danger-text {
    font-size: 10px;
    padding-top: 0;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* CSS rules for medium devices */
  .mobile {
    display: none;
  }
  .column-center {
    justify-content: center; /* Center vertically */
    align-items: center;/* Center horizontally */
  }
  .containee {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
  }
  .containeer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 700px;
    padding-left: 2.5em;
    height: 500px;
    padding-top: 4em;
    margin-top: 5em;
    margin-left: 8.5em;
  }
  .company-logo {
    justify-content: center; /* Center vertically */
    align-items: center;
    display: flex;
    padding-top: 2em;
    padding-bottom: 20px;
  
  }
  
  .container-text {
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  .text-error-notif {
    height: 5px;
    font-size: 10px;
  }
  .danger-banner {
    height: 10px;
    margin: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .danger-text {
    font-size: 10px;
    padding-top: 0;
  }

}
.danger-text {
  font-size: 12px;
  padding-top: 0;
  padding-left: 20px;
}
.input-login {
  width:430px;
  height: 50px;
  margin-top: 20px;
  border-radius: 10px;
  border-width: 0.2;
  border-color: rgb(250, 240, 240);

}

.btn-styles {
  margin-bottom: 2em;
}
.reset-header {
  justify-content: center;
  align-items: center;
 
}
.header-text {
  font-size: 20px;
  font-weight: bold;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.body-centered {
text-align: center;
font-size: 15px;
margin-bottom: 2em;
}
.body-text {
  font-weight: bold;
}
.modal-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
}
.modal-btns {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.modal-btn {
  margin-bottom: 1em;
  width: 100px;
}
.close-modal {
  text-decoration: none;
  margin-bottom: 2em;
}

/* .first-log-page */

.change-password-column-left {
  float: left;
  width: 40%;
  padding: 10px;
  height: 100vh;
}
.change-password-column-center {
  float: left;
  width: 40%;
  padding: 10px;
  height: 100vh;

}
.change-password-column-right {
  float: left;
  width: 20%;
  padding: 10px;
  height: 100vh;

}
.end-flex {
  float: right;
}
ul {
  list-style: none;
}
.adjustments-left {
  padding-top: 15em;
  font-size: 18px;
}
.left-title {
  font-weight: bold;
}
.check-circle {
  padding-left: 10px;
}
.padd {
 padding: 0px;
}

.text-container p {
  float: right;
}
.date-display {
  padding-top: 4em;
}
.date-flex {
  font-size: 15px;
}
.time-flex {
  font-weight: bold;
}

